.tileHolder {
  width: 510px;
  margin: 10px auto;
}

h2 {
  text-align: center;
}

h3 {
  display: inline;
  text-align: center;
  margin: 5px 15px;
}

.scoresHolder {
  text-align: center;
  margin: 0 auto;
}